.additional {
  padding: 20px;
}

.additional__title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    grid-column: 1 / -1;
  }
}

.additional__list {
  list-style: none;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 4;
  }
}

.additional__heading {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-grey-2;
}

.card-additional__description {
  font-family: $font-body;
  font-size: 14px;
  line-height: 14px;
  color: $dark-grey;
}

.offer {
  position: relative;
  font-family: $font-body;
  font-size: 16px;
  line-height: 20px;
  background-image: url("../../img/background/cat-additional-offer.jpg");
  background-color: $color-primary;
  padding: 60px 60px 40px 60px;
  color: $color-white;
  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    background-color: $color-primary;
    opacity: 0.8;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: 4 / 5;
  }
}

.additional__container {
  display: grid;
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}
