.button {
  text-decoration: none;
  color: $color-white;
  font-family: $font-heading;
  text-transform: uppercase;
  background-color: $color-primary;
  border: none;

}

.promo__button {
  line-height: 18px;
  padding: 7px 44px;
}
