.card {
  @media (min-width: $tablet-width) {
    background-color: $basic-grey;
  }
}

.card__heading {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $dark-grey-2;
}

.card__link {
  text-decoration: none;
}

.card__property {
  font-family: $font-body;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.card__description {
  font-family: $font-body;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}
