.catalog {
  padding: 20px;
}

.catalog__title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding-left: 20px;
  padding-top: 26px;
  padding-bottom: 42px;
  margin: 0;
}

.catalog__list {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 63px;
    column-gap: 80px;
  }
}


