.footer {
  background-color: $basic-grey;
}

.footer__adress {
  padding: 26px 20px;
}

.footer--white {
  background-color: $color-white;
}

.footer__title {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  color: $dark-grey-1;
  text-transform: uppercase;
}

.footer__text {
  font-family: $font-body;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
}

.footer-social__container {
  padding: 40px 20px 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.footer-social__list {
  margin: 0 auto;
  padding: 0;
  width: 130px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__developer {
  font-family: $font-body;
  font-size: 16px;
  color: $dark-grey;
  text-decoration: none;
  display: flex;
  align-items: center;
}
