.main-nav {
  text-align: center;

  &__list {
    font-family: $font-heading;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    list-style: none;
  }

  &__link {
    color: $color-black;
    text-decoration: none;
  }
}
