.process__container {
  margin:0 auto;
}

.process__title {
  font-family: $font-heading;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
}

.process__list {
  list-style: none;
  font-family: $font-body;
  color: $dark-grey;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.process__item:not(:last-child) {
  padding-bottom: 20px;
}
