.program-list__container {
  margin-bottom: 20px;
  
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 80px;
  }
}

.program-list__item {
  background-color: $basic-grey;
  padding: 20px;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.program-list__title {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-black;
  font-weight: 400;
}

.program-list__description {
  font-family: $font-body;
  color: $dark-grey;
}

.program-list__link {
  text-decoration: none;
  font-family: $font-heading;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-black;
}
