.show-more {
  padding: 20px;
}

.show-more__heading {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-grey-1;
}

.show-more__text {
  font-family: $font-body;
  font-size: 12px;
  line-height: 16px;
  color: $dark-grey;
}

.show-more__button {
  background-color: $basic-grey;
  color: $dark-grey;
}

