@import "./fonts.scss";
@import "./variables.scss";
@import "./blocs/page.scss";
@import "./blocs/catalog.scss";
@import "./blocs/main-nav.scss";
@import "./blocs/program-list.scss";
@import "./blocs/card.scss";
@import "./blocs/process.scss";
@import "./blocs/example.scss";
@import "./blocs/footer.scss";
@import "./blocs/visually-hidden.scss";
@import "./blocs/promo.scss";
@import "./blocs/button.scss";
@import "./blocs/show-more.scss";
@import "./blocs/additional.scss";
