$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;

//color
$color-black: #000000;
$color-white: #FFFFFF;
$color-primary: #68B738;
$basic-grey: #F2F2F2;
$dark-grey: #444444;
$background-grey: #EAEAEA;
$dark-grey-9: #111111;

